.pagination {
    display: flex;
    justify-content: center;
    margin: 1rem 0 7.5rem 0;
}

.pagination button {
    background-color: #75ead3;
    border: none;
    color: #fff; 
    padding: 10px 20px; 
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.pagination button:active {
    background-color: #6ea89c;
}

.pagination button:hover {
    background-color: #3b655d;
}