.pagination {
  text-align: center;
  padding: 16px 0;
  justify-content: center;
  align-items: center; 
}

.pagination .ant-pagination-item-active {
  background: #ff5722;
  border-color: #ff5722;
}

.pagination .ant-pagination-item-active a {
  color: #fff;
}

.pagination .ant-pagination-item:hover,
.pagination .ant-pagination-prev:hover,
.pagination .ant-pagination-next:hover {
  border-color: #ff5722;
}

.pagination .ant-pagination-item:hover a,
.pagination .ant-pagination-prev:hover a,
.pagination .ant-pagination-next:hover a {
  color: #ff5722;
}