.register-body {
    background: linear-gradient(to right, #40cdcb, #217a80);
}

body {
    background: #f4f4f4;
}

.register-page {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
}

.register-page h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-page form {
    display: flex;
    flex-direction: column;
}

.register-page input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-page button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #40cdcb;
    color: white;
    cursor: pointer;
    font-weight: 800;
    font-size: 18px;
}

.register-page button:hover {
    background-color: #217a80;
}

.message {
    text-align: center;
    color: green;
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
}

.register-link a {
    text-decoration: none;
    color: #0e989a;
}
